.nav{
  position: fixed;
  top: 0;
  left: 0;
  transform: rotateZ(270deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
  z-index: 999;
  background-color: #878e99;
}
.nav-item{
  list-style: none;
}
.nav-link{
  cursor: pointer;
  color: #fff;
  line-height: 1rem;
}
.pt--50{
  padding-top: 50px;
}
.sticky-section{
  position: sticky;
  top: 50px;
  margin-left: 45px;
}
.banner-img{
  border: 5px solid #32363b;
  width: 120px;
  height: 120px;
  margin: 0 0 20px 30px;
}
.heading{
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 22px;
}
.heading > .name{
  color: #ff014f;
}
.heading > .desc{
  color: inherit;
  font-size: 48px;
}
.social{
  margin-top: 15px;
}
.social >  a{
  padding: 5px 8px;
  margin:  10px;
  border-radius: 50%;
  font-size: 10;
  background-color: #606a7a;
  color: cornsilk;
  transition: 0.3s;
}
.social > a:hover{
  background-color:#0a58ca; 
}
