<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class=" navbar col-auto col-md-4  col-xl-3 px-sm-2 px-0 position-fixed ">
          <div class="d-flex flex-column align-items-center align-items-sm-start px- 3 pt-2 text-white min-vh-100 w-100">
            <div class="d-flex flex-column align-items-center pb-3  text-white text-decoration-none  w-100"> 
            
               
                <img src="assets/image.jpeg" class="img-fluid rounded-circle " height="100" width="100">
             <h1 class="pt-4"> Sadaf Khan </h1>
             <div class=" header d-flex flex-row  ">
             <a href=""><i class="bi bi-linkedin"></i></a>
             <a href=""><i class="bi bi-envelope-fill"></i></a>
             <a href=""><i class="bi bi-instagram"></i></a>
             <a href=""><i class="bi bi-github"></i></a>
               </div>    
             
            </div>


              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start ps-3" id="menu">
                  <li class="nav-item">
                      <a (click)="onclickScroller('home')" routerLinkActive="active" class="nav-link align-middle px-0">
                          <i class="bi bi-house-fill"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="onclickScroller('about')"  data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="bi bi-person-fill text-primary"></i> <span class="ms-1 d-none d-sm-inline">About</span> </a>
                     
                  </li>
                  <li>
                      <a (click)="onclickScroller('work-experience')" class="nav-link px-0 align-middle">
                          <i class="bi bi-file-earmark-text"></i> <span class="ms-1 d-none d-sm-inline">Work Experience</span></a>
                  </li>
                  <li>
                      <a (click)="onclickScroller('project')"  data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i  class="bi bi-menu-button-wide-fill"></i> <span class="ms-1 d-none d-sm-inline">Projects</span></a>
                     
                  </li>
                  <li>
                      <a (click)="onclickScroller('skill')"  data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="bi bi-stack"></i> <span class="ms-1 d-none d-sm-inline">Skills</span> </a>
                         
                  </li>
                  <li>
                      <a (click)="onclickScroller('contact')"  class="nav-link px-0 align-middle">
                          <i  class="bi bi-envelope-fill"></i> <span class="ms-1 d-none d-sm-inline">Contact</span> </a>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>



      <div class="col py-3 offset-auto offset-md-4 offset-xl-3">
        <app-home></app-home>
          <app-about></app-about>
          <app-work-experience></app-work-experience>
          <app-project></app-project>
          <app-skill></app-skill>
          <app-contact></app-contact>

      </div>
  </div>
</div>
