<div class="section" id="project">
  <h5 class="title">My Projects</h5>
  <ul class="card-list">
    <li *ngFor="let project of projects">
      <button (click)="selectProject(project.id)" class="list-btn" data-bs-toggle="modal" data-bs-target="#projectModal">{{project.title}} <i class="bi bi-arrow-right-short"></i></button>
    </li>
  </ul>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog mw-100 m-5">
      <div class="modal-content bg-dark">
        <div class="modal-header justify-content-end">
          <button class="bttn icon-bttn" data-bs-toggle="modal" data-bs-target="#projectModal"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="modal-body">
          <div class="row align-items-center p-4">
            <div class="col-lg-6">
              <div id="carouselProject" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img [src]="projects[selected].images[0]" class="d-block w-100 h-100" alt="...">
                  </div>
                  <ng-container *ngFor="let image of projects[selected].images; index as i">
                    <div *ngIf="i!=0" class="carousel-item">
                      <img [src]="image" class="d-block w-100 h-100" alt="...">
                    </div>
                  </ng-container>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProject" data-bs-slide="next">
                  <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-lg-6 content">
              <h3>{{projects[selected].title}}</h3>
              <span *ngFor="let tech of projects[selected].tech" class="badge rounded-pill bg-dark px-2 py-2 mb-3 mx-1">{{tech}}</span>
              <p class="detail" *ngFor="let con of projects[selected].content">{{con}} </p>
              <a class="bttn" [href]="projects[selected].github" target="blank">Github Code <i class="bi bi-github"></i></a>
              <a class="bttn" [href]="projects[selected].link" target="blank" >View Project <i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>