<div class="section" id='about'>
  <h5 class="title">About Me</h5>
  <p>I'm a .net developer . I have worked on C# ,.net core , Angular , SQL Server , HTML5, CSS , Entity Framework Core and Web API based  Application.I'm able to understand business requirements  easily and map them into projects  </p>
  <p>My objective is to pursue a successful challenging career while dispensing my maximum potential to the benefit of the organization and at the same time acquiring knowledge on the road to success.</p>
</div>
